*{
    font-family: "vazir";
}
div.layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px;
}
main{
    height: 500px;
    border: 1px solid black;
    padding: 30px;
    width: 40%;
    border-radius: 5px;
    box-shadow:  0 0 8px rgb(0, 68, 255);
}
main>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    align-items: center;
}
/* ---------inputs--------- */
div.inputs{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    transition: all .5s;
}
div.inputs:focus-within{
    margin-top: 40px;
}
input{
    width: 100%;
    padding: 15px 100px 15px 15px;
    font-size: large;
    outline: none;
    transition: all .5s;
    border: 1px solid rgba(0, 140, 255, 0.685);
    color:rgb(0, 68, 255) ;
}
label{
    transition: all .5s;
}
input:focus{
    box-shadow: 0 0 4px rgb(0, 140, 255), inset 0 0 4px rgb(0, 140, 255);
    border-radius: 10px;
    padding: 15px;
    border: 1px solid black;
}
input:focus+label{
    color: rgb(0, 68, 255);
    top: -30px;
    font-size: large;
}
input+label{
    position: absolute;
    font-weight: bold;
    right: 10px;
    top: 27px;
}
img{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 24px;  
}
img[src*="code"]{
    width: 80px;
    height: 40px;
    top: 22px;
}
img[src*="refresh"]{
    left: 90px;
    top: 26px;
    transition: all .3s;
}
img[src*="refresh"]:hover{
    transform: scale(1.2);
    filter: invert(51%) sepia(61%) saturate(495%) hue-rotate(170deg) brightness(99%) contrast(104%);
}
input:focus~label img:not(img[src*="refresh"],img[src*="code"]){
    filter: invert(51%) sepia(61%) saturate(495%) hue-rotate(170deg) brightness(99%) contrast(104%);
}
/* ---------inputs--------- */

/* --------buttons------- */
div.btns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button{
    font-family: "vazir";
    font-weight: bold;
    font-size: large;
    padding: 20px;
    flex: 1;
    margin: 0px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition:all .5s;
    white-space: nowrap;
}
button:hover{
    box-shadow: 0 0 10px rgb(0, 140, 255);
}
div.btns a {
    font-style: italic;
    text-decoration: none;
    color:rgb(0, 140, 255) ;  
    font-weight: bold;  
    font-size: large;
}
a span{
    text-decoration: underline;
    color: rgb(25, 0, 255);
    white-space: nowrap;
}
.btn1{
    border: 2px solid rgb(0, 68, 255);
    background-color: rgb(0, 68, 255);
    color: white;
}
.btn2{
    border: 2px solid rgb(0, 68, 255);
    background-color: white;
    color:rgb(0, 68, 255) ;
}
/* --------buttons------- */

/* -------------Mobile---------- */
@media(max-width:500px){
    main{
        width: 80%;
        padding: 30px 10px;
    }
    a{
        font-size: medium !important;
    }
}